<div id="bread_crumb_cat">
    <a linktrack='ppbreadcrumbcat' href="{{{basedir}}}/{{{loc_string}}}/PIN/index.html">Product List</a>
</div>
<div id="bread_crumb_loc">
	<a linktrack='ppbreadcrumbstate' href="{{{basedir}}}/SIN/LIN{{{prod_string}}}">Select a State/Province</a>
	{{#checkIf  NAME=state}}
		&nbsp;&gt;&nbsp;<a linktrack='ppbreadcrumb{{{tmpl_country}}}_{{{state}}}' href="{{{basedir}}}/{{{tmpl_country}}}{{{state}}}/LIN{{{prod_string}}}">{{{tmpl_country}}}{{#checkIf  NAME=state}} {{{state}}}{{/checkIf}}</a>
		{{#checkIf  name=location}}
			&nbsp;&gt;&nbsp;{{{location}}}
		{{/checkIf}}
	{{/checkIf}}
</div>

