<!DOCTYPE html>
<html lang="en" class="usUser full homepage dj_webkit dj_safari dj_contentbox noRetinaLinesSupport ready loaded">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180374740-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-180374740-1');
    </script> -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5283NZX');</script>
    <!-- End Google Tag Manager -->

    <script>
      setTimeout(function(){
        switchClass();
      },50)
       function switchClass() {
        var htmlElement = document.getElementsByTagName("html")[0];
        if(window.innerWidth > 960) {
          if(!htmlElement.classList.contains('desktop')){
            htmlElement.classList.add('desktop');
          }
          if(htmlElement.classList.contains('mobile')){
            htmlElement.classList.remove('mobile');
          }
        } else {
          if(htmlElement.classList.contains('desktop')){
            htmlElement.classList.remove('desktop')
          }
          if(!htmlElement.classList.contains('mobile')){
            htmlElement.classList.add('mobile');
          }
        }
      }
    </script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width"/>
    <link rel="shortcut icon" type="image/x-icon" href="//media1.calvinklein.com/images/static/e-comm20-09/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="57x57" href="//media1.calvinklein.com/images/static/e-comm20-09/apple/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="//media1.calvinklein.com/images/static/e-comm20-09/apple/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="//media1.calvinklein.com/images/static/e-comm20-09/apple/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="//media1.calvinklein.com/images/static/e-comm20-09/apple/apple-icon-144x144.png" />
    <title>Calvin Klein Locations in  {{{city_pc}}}, {{{state}}}{{{province}}} | Apparel, underwear and more.</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Get more information on your local Calvin Klein store(s) in {{{city_pc}}}, {{{state}}}{{{province}}}. Explore our assortment of designer jeans, sleepwear, athleisure & more." />
    <meta name='format-detection' content='telephone=no' />
    <link rel="canonical" href="{{{cityindex_url}}}" />
    <link type="text/css" href="/w2gi/css/style.css" rel="stylesheet" media="all"/>
    <link rel="stylesheet" type="text/css" href="/css/local/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/local/pvh.css" />
    <link rel="stylesheet" type="text/css" href="/css/local/ck.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/local/main.alt.css" />
  <!-- <script src="/js/ck.headerNav.js"></script> -->
    <script src="/js/main.js"></script>

    <script type="text/javascript" src="/w2gi/javascript/backbone/bb/lib/jquery.js"></script>
    <script data-main="/w2gi/javascript/backbone/bb/dist/bones" src="/w2gi/javascript/backbone/bb/lib/require.js"></script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{{topindex_url_lc}}}",
              "name": "Index"
            }
          },{
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{{stateindex_url_lc}}}",
              "name": "{{{state}}}{{{province}}}"
            }
          }]
        }
    </script>
    <script>
      var W2GI = {
        config : {
          appkey : '{{{appkey}}}',
          pageObserve: ['linktrack'],				
        }
      }
    </script>
    <script>
      $(function(){
        // switchClass()
        $(window).on('resize',function(){
            switchClass();
        })
      });

 
    </script>
    <style>
      html.mobile .logoWrapper,html.mobile #headerTopRight,html.mobile #headerMyAccountNavWrapper, html.desktop #headerLinks, html.desktop div#searchBar {
        display: none;
      }

      a.new-link {
    background-color: transparent;
    border: none;
    color: #222;
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
      }
.city_btn_wrapper a.new-link:after {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    content: '';
    display: block;
    position: relative;
    top: -2px;
    width: 100%;
}
    </style>
  </head>
  <body class="{{#checkIf is_wireless_device}} ae-lang-en ae-device-mobile {{else}} ae-lang-en ae-device-desktop rfk_wbh {{/checkIf}} city">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5283NZX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="page">
      {{> 'header.simplified.2'}}
      <main id="mainContainer">
        <nav class="nav">
          <ul>
            <li>
              <a class="nav-item ga_w2gi_lp" data-galoc="CalvinKlein - CityPage-{{{city_pc}}}" data-gaact="Click_to_IndexPage" data-linktrack="Top index page" href="{{{topindex_url_lc}}}" >Select a State</a>  
            </li>
            <li>
              <a class="nav-item ga_w2gi_lp" data-galoc="CalvinKlein - CityPage-{{{city_pc}}}" data-gaact="Click_to_StateLevel" data-linktrack="State index page - {{{city_pc}}}" href="{{{stateindex_url_lc}}}" >{{{state_longname_pc}}}</a> 
            </li>
            <li>
              <span>{{{city_pc}}}</span>
            </li>
          </ul>
        </nav>
        <section class="storeMain">
          <h1>Calvin Klein Stores in {{{city_pc}}}, {{{state}}}{{{province}}}</h1>
          <div class="divContainer">
            <div id="cityContainer">
              <ul id="cityItemContainer">
                {{#each contentlist_pc}}
                  <li class="cityitemList" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <div class="cityInfo">
                      <div class="nearby_icon">
                        <img src="/images/local/map-pin-local.png" />
                      </div>
                      <div class="locationInfo" itemprop="name">
                        <div class="nearbyCoords">{{{location_address1}}},{{{location_city}}},{{{location_state}}}</div>
                        <div class="loc_name">{{{location_name}}}</div>
                        <div class="cityInfo_addresswrapper">
                          <div itemprop="containedIn">{{{location_address2}}}</div>
                          <div itemprop="streetAddress">{{{location_address1}}}</div>
                          <div>
                            <span class="" itemprop="addressLocality">{{{location_city}}}, <span class=" " itemprop="addressRegion">{{{location_state}}}</span> <span class="" itemprop="postalCode">{{{location_postalcode}}}</span>
                          </div>
                        </div>
                        <div class="city_btn_wrapper">
                          <!-- <button linktrack="Landing page" class="ga_w2gi_lp" data-galoc="CalvinKlein - CityPage_{{{location_name}}}_{{{location_city}}}" data-gaact="Click_to_LocalPage" onclick="window.open('{{{lc link}}}')">More Info</button> -->

                            <a class="new-link" href="{{{lc link}}}" linktrack="Landing page" class="ga_w2gi_lp" data-galoc="CalvinKlein - CityPage_{{{location_name}}}_{{{location_city}}}" data-gaact="Click_to_LocalPage">More Info</a>


                          <button class="ga_w2gi_lp" data-galoc="CalvinKlein - City Directions_{{{location_name}}}_{{{location_city}}}" data-gaact="Click_to_CityPageDirections" onclick="window.open('http://maps.google.com/maps?q={{{location_address1}}}, {{{location_city}}}, {{{location_state}}} {{{location_postalcode}}}')">
                            Directions
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
           <section class="covid-listing">
            <h2>COVID-19 Information</h2>
            <p>We are working to provide a safe environment for our customers by limiting occupancy to promote social distancing and increasing frequency of routine cleaning. Associates and customers are required to wear a mask at all times inside the store to maintain a safe environment.</p>
            <p>For more information:</p>
            <p>
              <a href="https://www.calvinklein.ca/en/covid-19-information" target="_blank" class="ga_w2gi_lp" data-galoc="CalvinKlein - CityLevel" data-gaact="Click_to_Covid_CanadaShoppers">Canada Shoppers</a>
              <span>&nbsp;&nbsp;</span>
              <a href="https://www.calvinklein.us/en/covid-19-information" target="_blank" class="ga_w2gi_lp" data-galoc="CalvinKlein - CityLevel" data-gaact="Click_to_Covid_USShoppers">US Shoppers</a>
            </p>
          </section>
        </section>

      </main>
        {{> 'footer.simplified.listing'}}
      </div>
      <script>
        $(function(){
          $('.searchButtonWrapper').on('click',function(){
            $(this).parent().css({'visibility':'hidden'}).animate({'opacity':'0'});
            $('#headerNavList').css({'visibility':'hidden'}).animate({'opacity':'0'});
            $('.searchWrapper,.menuIcon').removeClass('hidden').css({'visibility':'visible'}).animate({'opacity':'1'});
            $('<div class="searchShadow" style="visibility: hidden; opacity: 0;" onclick="$(\'.searchWrapper,.menuIcon,.searchShadow\').addClass(\'hidden\').css({\'visibility\':\'hidden\'}).animate({\'opacity\':\'0\'});$(\'#headerTopRight,#headerNavList\').css({\'visibility\':\'visible\'}).animate({\'opacity\':\'1\'});setTimeout(function(){$(\'.searchShadow\').remove();},100);"></div>').appendTo('body');$('.searchShadow').css({'visibility':'visible'}).animate({'opacity':'1'});
          });
          $('.desktop .menuIcon').on('click',function(){
            $('.searchWrapper,.menuIcon,.searchShadow').addClass('hidden').css({'visibility':'hidden'}).animate({'opacity':'0'});
            $('#headerTopRight,#headerNavList').css({'visibility':'visible'}).animate({'opacity':'1'});
            setTimeout(function(){
              $('.searchShadow').remove();
            },100);
          });
        });
        $(function(){
        if($(window).width() < 769){
          $('#menuButton').on('click',function(){
            $('body').css({'overflow':'hidden','position':'relative'});
            $('#menuButton').addClass('open');
            $('#headerNavWrapper').addClass('visible open').animate({'left':'0'}).css({'height':'100vh'});
            $('.shadow').removeClass('hidden').show().css({'visibility':'visible'}).animate({'opacity':'1'})
          });
          $('.navBarCloseWrapper a, .shadow').on('click',function(){
            $('body').css({'overflow':'','position':''});
            $('#headerNavWrapper').animate({
              'left':'-100%'
            },function(){
              $('#headerNavWrapper').removeClass('visible open').css({'height':''})
            });
            $('.shadow').animate({
              'opacity':'0'
            },function(){
              $('.shadow').addClass('hidden').css({'visibility':'hidden'})
            });
          });
              
          $('.plusIcon').on('click',function(){
            $(this).closest('.dropDownColumn').removeClass('close').addClass('open')
            $(this).parent().next().css({'visibility':'visible','display':'block','height':'auto'}).animate({'opacity':'1'});
          })

          $('.minusIcon').on('click',function(){
            $(this).parent().next().animate({'opacity':'0'});
            $(this).parent().next().css({'visibility':'hidden','display':'none','height':'0'})
            $(this).closest('.dropDownColumn').removeClass('open').addClass('close');
          });

          $('.footer-links-col.expand').on('click',function(){
            var $linkCol = $(this);
            var $footerLink = $(this).find('.footer-link');
            var $heading = $linkCol.find('h5');
            var openClass = 'open';

            var $this = $heading;
            var $parent = $linkCol;

            $linkCol.removeAttr('style');

            if($parent.hasClass(openClass)) {

              $linkCol.removeClass(openClass);

            } else {

              var height = 0;

              $this.parent($linkCol).find('> *').each(function() {
                height = height+$(this).outerHeight();
              });

              $this.parent($linkCol).height(height);

              $($linkCol).removeClass(openClass);
              $parent.addClass(openClass);

            }
          })

        }
      });
      </script>
      
<script async src="//static.where2getit.com/w2gi/javascript/client.min.js" data-a="{{{appkey}}}" data-s="calvinklein" id="brandifyjs"></script>
  </body>
</html>
